// main: index.styl

#slide-cover
    border-left: 10px solid blue
    color:       blue

    h1
        position: static

    h1
    p
        margin 0


    h1
        font-family: Sinzano
        font-size:   75px

    p
        font-size:   30px
        font-weight: 300


    .ref
        position:    absolute
        left:        4.5em
        bottom:      10px

        a
            font-weight:     400
            text-decoration: none
            color:           textgrey


            &::before
                content: '➤ '
