// out: ../../styles/index.css, compress: true, sourcemap: true

@import "base/palette.styl"
@import "base/utils.styl"
@import "base/fonts.styl"


body
    display:          flex
    max-width:        (720 / 16)em
    background-color: black
    color:            white


main
    margin: 0 auto
