// main: ../index.styl

&.bottom-up
    static-reverse()


    h1
        margin-bottom: .5em
        highlight(20px)


    p
        margin: 0


    img
    svg
        min-width: 5em
        height:    auto
        margin:    1em 0


    p
        font-size: 30px
        color:     blue

    &.inverse p
        color white
