// main: ../index.styl

&.punchline
    static-reverse()

    padding-left:   6em
    padding-bottom: 6em

    img
    svg
        width:      30%
        height:     auto
        position:   absolute
        top:        .5em
        right:      2em
        border:     none
        box-shadow: none


    h1
        margin: 0
        highlight(30px)


    p
        margin:  0
        font-size:   40px
        font-weight: 300
