// main: ../theme.styl

&
    padding-top: 5em

// Reset slide margins and positions for stickit and singles
&.section
&.single
&.stickit
    static-reverse()

&.section
    padding: 1em 0

h1
h2
h3
    margin: 0

h1
    // font-size: 45px
    position: absolute
    top: (40/45)em
    left: (80/45)em

&.section h1
    margin:  0
    padding: .3em


li
    margin: .5em 0

    img
        display: block


img
iframe
    width: 65%


.large
    img
    svg
    iframe
    video
        width: 100% !important

.small
    img
    svg
    iframe
        width: 45%


blockquote
    position: relative

    &::before
        position:    absolute
        top:         0
        left:        -.45em
        display:     block
        line-height: 0.3em

pre
    width: 100%


.breadcrumb
    // font-size: 16px
    position: absolute
    top:      (20/16)em
    left:     (80/16)em


.wide &
    img
    iframe
        width: 45%

    .small
        img
        svg
        iframe
            width: 30%
