// main: index.styl

#slide-speaker
    h1
    h2
    p
        margin: 0

    .org
        position:  absolute
        bottom:    12px
        left:      50%
        transform: translateX(-50%)


    img
        position:      relative
        left:          50%
        transform:     translateX(-50%)
        display:       block

    & > p > img
        width:         10em
        border-radius: 50%

    .cozy img
        width: 1.6em


    a
        text-decoration: none

    p
        font-weight: 300

    strong
        font-weight: 700

    .extras
        font-size: 18px


    h1
        margin-top:  .25em
        font-family: Sinzano
        font-size:   60px
        color:       blue
