// main: index.styl

#slide-thanks
    position:   absolute
    top:        50%
    transform:  translateY(-1.5em)
    transition: transform 30s linear

    &.scroll
        transform: translateY(-95%)


    .licence
        margin: 150% 0 0


    h1
        margin:      0 0 100%
        font-family: Sinzano
        font-size:   60px


    h2
        margin-top 30%
        font-size: 35px


    ul
        font-size: 20px


    li
        margin: 0


    .licence
        font-size:   18px
        font-weight: 300

        p
            margin: 0


    .ref a
        text-decoration: none
        font-weight:     bold

        &::before
            content: '➤ '


    .remark-slide-number
        display: none
