// main: ../index.styl

.remark-container
    font-family:      'Source Sans Pro'
    background-color: black
    color:            darkgrey


.remark-slide-scaler
    box-sizing:       border-box
    background-color: white
    box-shadow:       0 0 30px darken(black, 15)


.remark-slide-number
    font-size:   15px
    font-weight: bold
    color:       textgrey
