// main: ../index.styl

static-reverse()
    padding-top 1em

    h1
        position: static


highlight(basefont=16px)
    font-size:      basefont
    font-weight:    700
    text-transform: uppercase
